[poblacion]
cantidad_poblacion = 40
k = 25
tipo = guerrero

[seleccion]
A = 0.4
B = 0.6
metodo1 = seleccion_ranking
metodo2 = seleccion_elitista
metodo3 = seleccion_torneo_probabilistico
metodo4 = seleccion_torneo_deterministico
threshold = 0.7
m = 10
temperatura_inicial = 0.1

[crossover]
metodo = cruce_uniforme
probability = 0.8

[corte]
metodo = solucion_aceptable
max_generaciones = 100
optimal_fitness = 90
optimal_fitness_error = 20
delta = 0.2
time_limit = 13


[mutacion]
probabilidad_mutacion = 0.2
delta_items = 20
delta_height = 0.1
metodo1 = mutacion_multigen_uniform
metodo2 = mutacion_multigen_no_uniforme
metodo3 = mutacion_gen_uniform
metodo4 = mutacion_gen_no_uniforme
