[poblacion]
cantidad_poblacion = 40
k = 25
tipo = arquero

[seleccion]
A = 0.4
B = 0.6
metodo1 = seleccion_ranking
metodo2 = seleccion_elitista
metodo3 = seleccion_torneo_probabilistico
metodo4 = seleccion_torneo_deterministico
threshold = 0.7
m = 10
temperatura_inicial = 0.1

[crossover]
metodo = cruce_uniforme
probability = 0.8

[corte]
max_generaciones = 100

[mutacion]
probabilidad_mutacion = 0.1
delta_items = 10
delta_height = 0.1
metodo1 = mutacion_multigen_uniform
metodo2 = mutacion_multigen_no_uniforme
metodo3 = mutacion_gen_uniform
metodo4 = mutacion_gen_no_uniforme
