[poblacion]
cantidad_poblacion = 40
k = 25
tipo = arquero

[seleccion]
A = 0.5
B = 0.5
metodo1 = seleccion_ranking
metodo2 = seleccion_elitista
metodo3 = seleccion_torneo_probabilistico
metodo4 = seleccion_universal
threshold = 0.7
m = 10
temperatura_inicial = 0.1

[crossover]
metodo = cruce_uniforme
probability = 0.8

[corte]
metodo = cantidad_generaciones
max_generaciones = 100
optimal_fitness = 80
optimal_fitness_error = 20
delta1 = 0.02
delta2 = 44
time_limit = 2.4

[mutacion]
probabilidad_mutacion = 0.2
delta_items = 20
delta_height = 0.1
metodo1 = mutacion_multigen_uniform
metodo2 = mutacion_multigen_no_uniforme
metodo3 = mutacion_gen_uniform
metodo4 = mutacion_gen_no_uniforme
